body{
font-family: Arial;
background: linear-gradient(120deg,#4facfe,#00f2fe);
color:white;
text-align:center;
}

.hero{
padding:60px;
}

.features{
background:white;
color:black;
padding:40px;
}

.how{
background:#222;
padding:40px;
}